.container {
    max-width: 720px;
    margin: 0 auto;
}

.about {
    display: flex;
    justify-content: space-between; 
}

.photo {
    
    max-width: 200px;
    max-height: 200px;
    display: flex;
    justify-content: center;
}

img {
    width: 100%;
    height: 100%;
} 

p {
    background-color: rgb(245, 245, 245);
}    

.lang {
    background-color: rgb(245, 245, 245);
}

.langli {
    list-style-type: none;
    
}
.langli:before {
    content: "* "; /* Добавляем в качестве маркера символ */
   }
